<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuebing.aicoursesys.mapper.NoteMapper">
  <resultMap id="BaseResultMap" type="com.yuebing.aicoursesys.domain.Note">
    <id column="noteid" jdbcType="INTEGER" property="noteid" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="addvideo" jdbcType="INTEGER" property="addvideo" />
    <result column="videoid" jdbcType="INTEGER" property="videoid" />
    <result column="videoname" jdbcType="VARCHAR" property="videoname" />
    <result column="videoaddress" jdbcType="VARCHAR" property="videoaddress" />
    <result column="pptid" jdbcType="INTEGER" property="pptid" />
    <result column="pptname" jdbcType="VARCHAR" property="pptname" />
    <result column="pptaddress" jdbcType="VARCHAR" property="pptaddress" />
    <result column="taskid" jdbcType="INTEGER" property="taskid" />
    <result column="rate" jdbcType="INTEGER" property="rate" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="addppt" jdbcType="INTEGER" property="addppt" />
    <result column="userid" jdbcType="BIGINT" property="userid" />
    <result column="username" jdbcType="VARCHAR" property="username" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    noteid, note, addvideo, videoid, videoname, videoaddress, pptid, pptname, pptaddress, 
    taskid, rate, title, addppt, userid, username
  </sql>
  <select id="selectByExample" parameterType="com.yuebing.aicoursesys.domain.NoteExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from note
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from note
    where noteid = #{noteid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from note
    where noteid = #{noteid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yuebing.aicoursesys.domain.NoteExample">
    delete from note
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yuebing.aicoursesys.domain.Note">
    insert into note (noteid, note, addvideo, 
      videoid, videoname, videoaddress, 
      pptid, pptname, pptaddress, 
      taskid, rate, title, 
      addppt, userid, username
      )
    values (#{noteid,jdbcType=INTEGER}, #{note,jdbcType=VARCHAR}, #{addvideo,jdbcType=INTEGER}, 
      #{videoid,jdbcType=INTEGER}, #{videoname,jdbcType=VARCHAR}, #{videoaddress,jdbcType=VARCHAR}, 
      #{pptid,jdbcType=INTEGER}, #{pptname,jdbcType=VARCHAR}, #{pptaddress,jdbcType=VARCHAR}, 
      #{taskid,jdbcType=INTEGER}, #{rate,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{addppt,jdbcType=INTEGER}, #{userid,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yuebing.aicoursesys.domain.Note">
    insert into note
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="noteid != null">
        noteid,
      </if>
      <if test="note != null">
        note,
      </if>
      <if test="addvideo != null">
        addvideo,
      </if>
      <if test="videoid != null">
        videoid,
      </if>
      <if test="videoname != null">
        videoname,
      </if>
      <if test="videoaddress != null">
        videoaddress,
      </if>
      <if test="pptid != null">
        pptid,
      </if>
      <if test="pptname != null">
        pptname,
      </if>
      <if test="pptaddress != null">
        pptaddress,
      </if>
      <if test="taskid != null">
        taskid,
      </if>
      <if test="rate != null">
        rate,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="addppt != null">
        addppt,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="username != null">
        username,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="noteid != null">
        #{noteid,jdbcType=INTEGER},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="addvideo != null">
        #{addvideo,jdbcType=INTEGER},
      </if>
      <if test="videoid != null">
        #{videoid,jdbcType=INTEGER},
      </if>
      <if test="videoname != null">
        #{videoname,jdbcType=VARCHAR},
      </if>
      <if test="videoaddress != null">
        #{videoaddress,jdbcType=VARCHAR},
      </if>
      <if test="pptid != null">
        #{pptid,jdbcType=INTEGER},
      </if>
      <if test="pptname != null">
        #{pptname,jdbcType=VARCHAR},
      </if>
      <if test="pptaddress != null">
        #{pptaddress,jdbcType=VARCHAR},
      </if>
      <if test="taskid != null">
        #{taskid,jdbcType=INTEGER},
      </if>
      <if test="rate != null">
        #{rate,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="addppt != null">
        #{addppt,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yuebing.aicoursesys.domain.NoteExample" resultType="java.lang.Long">
    select count(*) from note
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update note
    <set>
      <if test="record.noteid != null">
        noteid = #{record.noteid,jdbcType=INTEGER},
      </if>
      <if test="record.note != null">
        note = #{record.note,jdbcType=VARCHAR},
      </if>
      <if test="record.addvideo != null">
        addvideo = #{record.addvideo,jdbcType=INTEGER},
      </if>
      <if test="record.videoid != null">
        videoid = #{record.videoid,jdbcType=INTEGER},
      </if>
      <if test="record.videoname != null">
        videoname = #{record.videoname,jdbcType=VARCHAR},
      </if>
      <if test="record.videoaddress != null">
        videoaddress = #{record.videoaddress,jdbcType=VARCHAR},
      </if>
      <if test="record.pptid != null">
        pptid = #{record.pptid,jdbcType=INTEGER},
      </if>
      <if test="record.pptname != null">
        pptname = #{record.pptname,jdbcType=VARCHAR},
      </if>
      <if test="record.pptaddress != null">
        pptaddress = #{record.pptaddress,jdbcType=VARCHAR},
      </if>
      <if test="record.taskid != null">
        taskid = #{record.taskid,jdbcType=INTEGER},
      </if>
      <if test="record.rate != null">
        rate = #{record.rate,jdbcType=INTEGER},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.addppt != null">
        addppt = #{record.addppt,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null">
        userid = #{record.userid,jdbcType=BIGINT},
      </if>
      <if test="record.username != null">
        username = #{record.username,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update note
    set noteid = #{record.noteid,jdbcType=INTEGER},
      note = #{record.note,jdbcType=VARCHAR},
      addvideo = #{record.addvideo,jdbcType=INTEGER},
      videoid = #{record.videoid,jdbcType=INTEGER},
      videoname = #{record.videoname,jdbcType=VARCHAR},
      videoaddress = #{record.videoaddress,jdbcType=VARCHAR},
      pptid = #{record.pptid,jdbcType=INTEGER},
      pptname = #{record.pptname,jdbcType=VARCHAR},
      pptaddress = #{record.pptaddress,jdbcType=VARCHAR},
      taskid = #{record.taskid,jdbcType=INTEGER},
      rate = #{record.rate,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      addppt = #{record.addppt,jdbcType=INTEGER},
      userid = #{record.userid,jdbcType=BIGINT},
      username = #{record.username,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yuebing.aicoursesys.domain.Note">
    update note
    <set>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="addvideo != null">
        addvideo = #{addvideo,jdbcType=INTEGER},
      </if>
      <if test="videoid != null">
        videoid = #{videoid,jdbcType=INTEGER},
      </if>
      <if test="videoname != null">
        videoname = #{videoname,jdbcType=VARCHAR},
      </if>
      <if test="videoaddress != null">
        videoaddress = #{videoaddress,jdbcType=VARCHAR},
      </if>
      <if test="pptid != null">
        pptid = #{pptid,jdbcType=INTEGER},
      </if>
      <if test="pptname != null">
        pptname = #{pptname,jdbcType=VARCHAR},
      </if>
      <if test="pptaddress != null">
        pptaddress = #{pptaddress,jdbcType=VARCHAR},
      </if>
      <if test="taskid != null">
        taskid = #{taskid,jdbcType=INTEGER},
      </if>
      <if test="rate != null">
        rate = #{rate,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="addppt != null">
        addppt = #{addppt,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        userid = #{userid,jdbcType=BIGINT},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
    </set>
    where noteid = #{noteid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yuebing.aicoursesys.domain.Note">
    update note
    set note = #{note,jdbcType=VARCHAR},
      addvideo = #{addvideo,jdbcType=INTEGER},
      videoid = #{videoid,jdbcType=INTEGER},
      videoname = #{videoname,jdbcType=VARCHAR},
      videoaddress = #{videoaddress,jdbcType=VARCHAR},
      pptid = #{pptid,jdbcType=INTEGER},
      pptname = #{pptname,jdbcType=VARCHAR},
      pptaddress = #{pptaddress,jdbcType=VARCHAR},
      taskid = #{taskid,jdbcType=INTEGER},
      rate = #{rate,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      addppt = #{addppt,jdbcType=INTEGER},
      userid = #{userid,jdbcType=BIGINT},
      username = #{username,jdbcType=VARCHAR}
    where noteid = #{noteid,jdbcType=INTEGER}
  </update>
</mapper>