<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuebing.aicoursesys.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.yuebing.aicoursesys.domain.User">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userid" column="userid" jdbcType="INTEGER"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="sex" column="sex" jdbcType="INTEGER"/>
            <result property="role" column="role" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userid,username,
        password,sex,role
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from user
        where  id = #{id,jdbcType=INTEGER} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from user
        where  id = #{id,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.yuebing.aicoursesys.domain.User" useGeneratedKeys="true">
        insert into user
        ( id,userid,username
        ,password,sex,role
        )
        values (#{id,jdbcType=INTEGER},#{userid,jdbcType=INTEGER},#{username,jdbcType=VARCHAR}
        ,#{password,jdbcType=VARCHAR},#{sex,jdbcType=INTEGER},#{role,jdbcType=INTEGER}
        )
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.yuebing.aicoursesys.domain.User" useGeneratedKeys="true">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="userid != null">userid,</if>
                <if test="username != null">username,</if>
                <if test="password != null">password,</if>
                <if test="sex != null">sex,</if>
                <if test="role != null">role,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=INTEGER},</if>
                <if test="userid != null">#{userid,jdbcType=INTEGER},</if>
                <if test="username != null">#{username,jdbcType=VARCHAR},</if>
                <if test="password != null">#{password,jdbcType=VARCHAR},</if>
                <if test="sex != null">#{sex,jdbcType=INTEGER},</if>
                <if test="role != null">#{role,jdbcType=INTEGER},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yuebing.aicoursesys.domain.User">
        update user
        <set>
                <if test="userid != null">
                    userid = #{userid,jdbcType=INTEGER},
                </if>
                <if test="username != null">
                    username = #{username,jdbcType=VARCHAR},
                </if>
                <if test="password != null">
                    password = #{password,jdbcType=VARCHAR},
                </if>
                <if test="sex != null">
                    sex = #{sex,jdbcType=INTEGER},
                </if>
                <if test="role != null">
                    role = #{role,jdbcType=INTEGER},
                </if>
        </set>
        where   id = #{id,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yuebing.aicoursesys.domain.User">
        update user
        set 
            userid =  #{userid,jdbcType=INTEGER},
            username =  #{username,jdbcType=VARCHAR},
            password =  #{password,jdbcType=VARCHAR},
            sex =  #{sex,jdbcType=INTEGER},
            role =  #{role,jdbcType=INTEGER}
        where   id = #{id,jdbcType=INTEGER} 
    </update>
</mapper>
